__pycache__/
*.pyc

elae-env/
.venv

transcripts/
gpt2FinetunedLarge/
elaeProto0/
elaeOuter/
elaeInner/
Elae.tria
ElaeV2.tria
AtriaApplication.build/

temp.txt

*.log
*.tmp
*.ckpt
*.pt
*.pth
*.h5
*.bin
*.DS_Store
.vscode/