__pycache__/
*.pyc

elae-env/
.venv

transcripts/
gpt2FinetunedLarge/
elaeProto0/
elaeOuter/
elaeInner/
0.26.0
Elae.tria
Art/
build/
dist/

*.log
*.tmp
*.ckpt
*.pt
*.pth
*.h5
*.bin
*.DS_Store
.vscode/